body { 
	color: #fff;
	background: #1e2133;
}

h1 {
	padding-top:70px; 
	text-align: center; 
}

h1, p {
	padding-bottom: 10px;
}

.social a {
    border-bottom: 0;
    font-size: 1.77em;
    margin-right: .56em;
    padding-bottom: 0;
}

a {
    border-bottom: 1px solid;
    color: #000;
    padding-bottom: 5px;
    text-decoration: none;
}

.fa {
	color: #fff
}